@use "../base/variables.scss" as *;

@keyframes flow-img {
  from {
    transform: translateY(-1rem);
  }

  to {
    transform: translateY(0.3rem);
  }
}

html.light {
	#brand-intro {
		background-color: #0c70f26b;

		#brand-intro-content {
			h1 {
				color: #fff;
			}
			
			p {
				color: #fff;
				text-shadow: 0 0 2px #160042;
			}
		}
	}
}

html.dark {
	#brand-intro {
		background-color: #16004296;

		#brand-intro-content {
			h1 {
				color: $primary-color-b;
			}
		}
	}
}

#brand-intro-overlay {
  background-image: url(https://images.pexels.com/photos/1181244/pexels-photo-1181244.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&fit=crop);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-attachment: fixed;

	#brand-intro {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include lg() {
			height: 90vh;
		}

		#profile-img {
			border-radius: 50%;
			margin-bottom: 1rem;
		}

		#brand-intro-content {
			padding: 0rem 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			@include md() {
				padding: 0 0.3rem 0 1rem;
				max-width: 35rem;
			}

			h1 {
				max-width: 35rem;
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				@include montserrat-font();
			}

			p {
				max-width: 35rem;
				text-align: center;
			}

			a {
				display: block;
				width: 100%;
				max-width: 20rem;
				white-space: nowrap;

				button.main-cta {
					width: 100%;
					border: none;
					border-radius: 10px;
					font-size: 1em;
					padding: 0.7rem 0rem;
					cursor: pointer;
					background-image: linear-gradient(
						to top,
						$primary-color-b,
						$primary-color
					);

					color: $tertiary-color;
					transition: all 0.4s ease-in;
					@include poppins-font(500);

					&:hover {
						box-shadow: 1px 1px 10px $quinary-color;
						scale: 1.02;
					}
				}
			}
		}
	}
}
